<!DOCTYPE html>
<html>
  <head>
    <title>TestMspoon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand"></a>
    </div>
  </nav>
  <body>
    <%= yield %>
  </body>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</html>
